<h1 style = "color:Brown">Objectives</h1>

### 1. Loading data.
### 2. Checking for missing values.
### 3. Splitting the data in to train set and test set.

In [1]:
import pandas as pd

In [8]:
df=pd.read_csv("Churn-Modelling.csv")
print(df.head())
print(df.shape)

   CreditScore  Age  Tenure    Balance  HasCrCard     Salary  Exited
0          619   42       2       0.00          1  101348.88       1
1          608   41       1   83807.86          0  112542.58       0
2          502   42       8  159660.80          1  113931.57       1
3          699   39       1       0.00          0   93826.63       0
4          850   43       2  125510.82          1   79084.10       0
(10000, 7)

<h2 style = "color:green">pandas.isna(object)</h2>

### Detects missing values.
### Returns a boolen object of same size.
### None and np.NaN are mapped True values. Everything else gets mapped to False values.

In [7]:
pd.isna(df).sum()

CreditScore    0
Age            0
Tenure         0
Balance        0
HasCrCard      0
Salary         0
Exited         0
dtype: int64

<h2 style = "color:green">x_train, x_test, y_tran, y_test = train_test_split(x, y, test_size)</h2>

### Defined in sklearn.model_selection
### test_size attribute decides the proportion of split

In [10]:
# Split the data
x=df.iloc[:,0:-1]
y=df.iloc[:,-1]
print(x.head())
print(y.head())

   CreditScore  Age  Tenure    Balance  HasCrCard     Salary
0          619   42       2       0.00          1  101348.88
1          608   41       1   83807.86          0  112542.58
2          502   42       8  159660.80          1  113931.57
3          699   39       1       0.00          0   93826.63
4          850   43       2  125510.82          1   79084.10
0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

In [14]:
from sklearn.model_selection import train_test_split
x=df.iloc[:,0:-1]
y=df.iloc[:,-1]
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25)
print("shape of training set:")
print(x_train.shape)
print(y_train.shape)
print("shape of testing set:")
print(x_test.shape)
print(y_test.shape)

shape of training set:
(7500, 6)
(7500,)
shape of testing set:
(2500, 6)
(2500,)

#### We can use random_state keyword argument to get same set of training and testing samples.

In [22]:
x=[10,20,30,40,50,60,70,80,90,100]
y=[0,0,0,0,0,1,1,1,1,1]
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=7)
print("Actual set",x)
print("Training set Input samples:",x_train)
print("Training set target samples:",x_test)
print('\n')
print("Actual set",y)
print("Testing set Input samples:",y_train)
print("Testing set target samples:",y_test)

Actual set [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
Training set Input samples: [30, 20, 100, 80, 40, 70, 50]
Training set target samples: [90, 60, 10]


Actual set [0, 0, 0, 0, 0, 1, 1, 1, 1, 1]
Testing set Input samples: [0, 0, 1, 1, 0, 1, 0]
Testing set target samples: [1, 1, 0]